	.form-popup {
		margin-right: 10px;
		margin-left: 10px;
	}

	.btn .btn-gen{
		width: 20%;
	}

	.form-horizontal .control-label{
		text-align: left;
	}

	.gen-key-text{
		resize: vertical;
	}

	.settings-container {
		margin-left: 30px;
	}

	.enc-type{
		margin-left: 20px;
	}

	ul {
		list-style-type: none;
	}

	#key{
		width: 200px;
	}

	#result{
		width: 200px;
		padding-bottom: 10px;
		resize: vertical;
	}

	#encrypt{
		margin-bottom: 10px;
	}

	#decrypt{
		margin-bottom: 10px;
	}

	.btn{
		width: 50%;
	}

	.options_header{
		font-size: 25px;	
	}

	.nav{
		font-size: 20px;
	}

	#HKP_SRV{
		width: 50%;
	}